<% cache [:side, :posts, :recently], expires_in: 15.minute do %>
  <ul class="list_in_side little-font">
    <% Post.includes(site: :category).order("created_at DESC").limit(15).each do |post| %>
      <li>
        <%= link_to post.name_with_short, post.url, target: :_blank %>
        (
        <%= post.site.category.name %>
        )
      </li>
    <% end %>
  </ul>
<% end %>
