.kadomaru {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-box-shadow: -1px -1px 1px rgba(000,000,000,0.3),1px 1px 1px rgba(255,255,255,1);
  -webkit-box-shadow: -1px -1px 1px rgba(000,000,000,0.3),1px 1px 1px rgba(255,255,255,1);
}

.normal_kadomaru {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-box-shadow: -1px -1px 1px rgba(000,000,000,0.3),1px 1px 1px rgba(255,255,255,1);
  -webkit-box-shadow: -1px -1px 1px rgba(000,000,000,0.3),1px 1px 1px rgba(255,255,255,1);
}

.hidden {
  display: none;
}

.text-right {
  text-align: right;
}

.cearfix{
  clear: both;
}

.alert-waring {
  color: red;
  font-size: 1.5em;
}

.mawarikomi {
  word-break: break-all;
}

.good-margin-top {
  margin-top: 10px;
  display: inline-block;
}

.good-margin-left {
  margin-left: 10px;
  display: inline-block;
}

.nice-margin-left {
  margin-left: 20px;
  display: inline-block;
}
.link_list {
  label, a {
    margin-right: 10px;
    display: inline-block;
  }
}
