<div id="base">
  <div class="container">
    <div class="left_column">
      <%= render 'shared/header' %>
      <%= render 'categories/left_column' %>
    </div>
    <div class="right_column">
      <%= render 'shared/right_column' %>
    </div>
  </div>
</div>
